input:focus {
	outline:none;
}

input[type="button"] {
	background-color: transparent;
	border: 1px solid #ccc;
}

input[type="button"]:hover {
	background-color: transparent;
	border: 1px solid #9A49EB;
}

.jumbotron {
	background-color: transparent;
	text-align: center;
}

.header {
	top: 0;
	display: inline-block;
	color: white;
	margin: 0 auto;
	padding: 20px;
	background-color: #9A49EB;
}

.footer {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.header h1#title {
	color: #9A49EB;
}

.footer h3#client-count {
	display: inline-block;
	margin-bottom: 1em;
}

#chat-message-container {
	height: 10em;
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 0.5em;
	text-align: left;
	overflow: hidden;
	overflow-y: scroll;
}

.controls input#name, .controls input#text-box {
	width: 300px;
}

.controls > div {
	float: left;
	margin-bottom: 1em;
	clear: both;
}

.controls input {
	padding: 0.5em;
}

.controls #send-button {
	margin-left: 1em;	
}

#chat-message-container .message {
	margin-bottom: .5em;
}

#chat-message-container .content {
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

#chat-message-container .timestamp {
	color: #bbb;
	float: right;
}

#chat-message-container .username:hover {
	color: inherit !important;
}

#chat-message-container .timestamp:hover {
	color: inherit;
	float: right;
}