.jumbotron {
	background-color: transparent;
	text-align: center;
}

#chat-message-container {
	height: 10em;
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 0.5em;
	text-align: left;
}

#chat-message-container .content {
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

#chat-message-container .timestamp {
	color: #bbb;
	float: right;
}

#chat-message-container .username:hover {
	color: inherit !important;
}

#chat-message-container .timestamp:hover {
	color: inherit;
	float: right;
}