doctype html
html
	head
		title= "Real time web chat"
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
		script(src="http://code.jquery.com/jquery-1.6.2.min.js")
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
		link(href='/custom.css', rel='stylesheet')
	body
		.container
			.jumbotron
				h1#title SocketChat!
				h3#client-count 0 users Here
				#chat-message-container()
				.controls
					#name-container
						input(style='width:350px;', id="name", placeholder="Username")
					#text-container
						input(style='width:350px;', id="text-box", placeholder="Message")
						input(type='button', value=' >> ', id="send-button")